<h1>Users#new</h1>
<p>Find me in app/views/users/new.html.erb</p>

<%= form_with model: @user do |form| %>

<p><%= form.text_field :username, placeholder:"Enter username" %></p>
<p><%= form.password_field :password, placeholder:"Enter password" %></p>
<p><%= form.submit "login" %></p>
 
<% end %>





